body {
    width: 1920px;
    background-image: url(../images/Fondo_humo_negro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;	
}
.home_historia {
    width: 100%;
    height: 100%;
    background-image: url(../images/Home_historia.jpg);
    margin-left: -9px;
    margin-top: -9px;
}
body main section {
    width: 1400px;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
	flex-direction: row;
}

.BotonMostrarMas {
    width: 200px;
    height: 70px;
    border-radius: 40px;
    font-family: Lora;
    font-weight: bolder;
    font-size: 20px;
    border: medium solid #D40000;
}
.BotonMostrarMas:hover {
    background-color: #D40000;
    color: #FFFFFF;
}

.hide{
    display: none;
}
.show{
    display: flex;
    width: 1400px;
    height: auto;
}


@media(max-width:300px){
}
main section div {
    width: 300px;
    height: auto;
    background-color: #CECECE;
    border-radius: 40px;
    margin-top: 100px;
    margin-bottom: 35px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    border-style: solid;
    border-color: #D75154;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.sectionhistory.ParrafosInformación {
}
body header image{
	width: 100%;
	height: auto;
}

body header {
    height: 500px;
    width: 1920px;
}


body footer section {
    width: 1920px;
    height: auto;
    background-color: #000000;
}

.LogoCastlevania {

    margin-top: 15px;
    margin-left: 20px;
}

body footer section {
	display: inline-block;
    margin-left: -9px;
}

.BarraNavegacion {
    background-color: #000000;
    width: 1340px;
    height: 100px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    display: flex;
    position: fixed;
    justify-content: space-between;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    right: 0px;
    opacity: 0.7;
    float: right;
    margin-top: -229px;
    margin-right: 0px;
}

nav .BarraNavegacion a {
    width: 100px;
    height: 100%;
    font-family: Lora;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}

nav .BarraNavegacion a:hover {
    background: #d40000;
	width: 15%;
    color: #ffffff;
    border-radius: 5px 10px;	
	transition: all 0.5s ease;
}

.footerkonami {
    display: flex;
    margin-right: 50px;
    justify-content: center;
    margin-top: 20px;
}
.logoKonami {
    margin-top: 40px;
}
.consolas {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}


.ParrafosInformación {
    width: 80%;
    font-family: Lora;
    font-style: normal;
    font-size: 18px;
    text-align: left;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}
.home_historia p {
    width: 280px;
    font-family: constantia;
    font-weight: bolder;
    font-size: 21px;
    color: #FFFFFF;
    padding-left: 170px;
    background-color: #000000;
    padding-right: 30px;
    padding-bottom: 20px;
    opacity: 0.7;
    padding-top: 20px;
    margin-top: 3%;
}

footer section p {
    color: #FFFFFF;
    font-family: Lora;
    font-weight: 100;
    text-align: center;
    font-size: small;
}


/* CSS Document */
.imagenLineaT {
    width: auto;
    padding-right: auto;
    padding-top: 0px;
    margin-top: -25%;
    display: block;
    margin-bottom: -13%;
    height: 170px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
section div h2 {
    color: #900E10;
    font-family: constantia;
    font-style: normal;
    font-weight: bolder;
    font-variant: normal;
    text-align: center;
    font-size: 50px;
}
h3 {
    color: #FFFFFF;
    font-family: constantia;
    font-size: 60px;
}

.TítulosJuegos {
    color: #000000;
    font-weight: bolder;
    text-align: center;
    font-size: 23px;
    margin-top: -7%;
}

.MasInfo {
    color: #000000;
    font-size: 18px;
    font-family: constantia;
    font-weight: bold;
    margin-left: 25px;
    text-decoration: none;
    margin-bottom: 20px;
    margin-top: -10px;
    display: block;
}

.MasInfo:hover{
	color: #d40000;
	transition-duration: .4s;
}
